body {
    background-image: url("png.png");
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    background-color: rgba(0, 0, 0, 1)
}
h2 {
   color:  rgba(118, 118, 118, 1);
}
p {
    color: rgba(255, 255, 255, 1);
}
h4 {
    color:  rgba(118, 118, 118, 1);
}
h3 {
    color:  rgba(118, 118, 118, 1);
 }
 h6 {
    color:  rgba(118, 118, 118, 1);
 }